.game-button {
  background-color: transparent;
  outline: none;
  border: none;
  width: clamp(200px, 100%, 500px);
}
.game-icon {
  width: 100px;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;

  align-items: center;
  justify-content: space-evenly;
}
li {
  list-style-type: none;
}
.score {
  font-family: Roboto;
}
